<%- include('../partials/header') %>
<h1>ALL COLLECTIONS</h1>
<table id="feed">
    <tbody>
        <% collections.forEach(function(c) { %>
            <%= c.collectionName %>
            <td> By: <img alt="avatar" src="<%= c.userAvatar %>"> <%= c.userName %></td>
            <td><a href="/collections/<%= c.id %>"> DETAILS</a></td> 
            <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>