<%- include('../partials/header') %>

<div>Sneakers: </div>
  <ul>
    <% collection.sneaker.map(s => { %>
      <li><img src= "<%= s.image %>">  <small> <%= s.modelName %></small></li>
    </ul>
    <% } ).join('') %>
    
<form id="add-sneaker" action="/collections/<%= collection._id %>/sneakers" method="POST">
    <select name="sneakerId">
      <% sneakers.map(s =>{ %>
        <option value="<%= s._id %>"> <%= s.modelName %>, <%= s.colorWay %> </option>
      <% } ).join('')%>
    </select>
    <button type="submit">Add to Sneakers</button>
  </form>
  

<%- include('../partials/footer') %>