<%- include('../partials/header') %>
<h1>Sneakers</h1>
    <ul>
        <% sneakers.forEach(function(s) { %>
            <li>
                <a href="/sneakers/<%= s.id %>">
                <img class="sneaker-image" src="<%= s.image %>" alt="sneaker" width="125" height="125"></img>
                    <%= s.brandName %>
                    <%= s.modelName %>
                    
                </a>

            </li>
            <% }); %>
    </ul>

<%- include('../partials/footer') %>