<%- include('../partials/header') %>

<h1><%= sneaker.modelName %></h1>
<li><%= sneaker.brandName %></li>
<li><%= sneaker.colorWay %></li>
<li><%= sneaker.releaseYear %></li>
<li>Sneaker #<%= sneaker.id %></li>

    <img class="sneaker-image" src="<%= sneaker.image %>" alt="sneaker" width="125" height="125"></img>
    

 <%- include('../partials/footer') %>